# External Lab 

Here each question is of 1 mark.

# Multiple Linear Regression

## Problem Statement

Use Multiple Linear Regression to **predict the consumption of petrol** given relevant variables are the petrol tax, the per capita, income, the number of miles of paved highway, and the proportion of the population with driver's licenses.

## Dataset

There are 48 rows of data.  The data include:

      I,  the index;
      A1, the petrol tax;
      A2, the per capita income;
      A3, the number of miles of paved highway;
      A4, the proportion of drivers;
      B,  the consumption of petrol.

### Reference 

    Helmut Spaeth,
    Mathematical Algorithms for Linear Regression,
    Academic Press, 1991,
    ISBN 0-12-656460-4.

    S Weisberg,
    Applied Linear Regression,
    New York, 1980, pages 32-33.

## Question 1 - Exploratory Data Analysis

*Read the dataset given in file named **'petrol.csv'**. Check the statistical details of the dataset.*

**Hint:** You can use **df.describe()**

In [39]:
import pandas as pd
import numpy as np

In [40]:
df_petrol = pd.read_csv('petrol.csv')

In [41]:
df_petrol.head(5)

   tax   income   highway     dl   consumption
0  9.0     3571      1976  0.525           541
1  9.0     4092      1250  0.572           524
2  9.0     3865      1586  0.580           561
3  7.5     4870      2351  0.529           414
4  8.0     4399       431  0.544           410

# Question 2 - Cap outliers 

Find the outliers and cap them. (Use (Q1 - 1.5 * IQR) as the minimum cap and (Q3 + 1.5 * IQR) as the max cap. The decision criteria is you should consider the datapoints which only falls within this range. The data points which fall outside this range are outliers and the entire row needs to be removed

In [42]:
Q1 = df_petrol.quantile(0.25)
Q1

tax                7.00000
 income         3739.00000
 highway        3110.25000
 dl                0.52975
 consumption     509.50000
Name: 0.25, dtype: float64

In [43]:
Q3 = df_petrol.quantile(0.75)
Q3

tax                8.12500
 income         4578.75000
 highway        7156.00000
 dl                0.59525
 consumption     632.75000
Name: 0.75, dtype: float64

In [44]:
IQR = Q3 - Q1
IQR

tax                1.1250
 income          839.7500
 highway        4045.7500
 dl                0.0655
 consumption     123.2500
dtype: float64

In [45]:
lower_bound = Q1 - (1.5 * IQR)
lower_bound
upper_bound = Q3 + (1.5 * IQR)
upper_bound

tax                 9.8125
 income          5838.3750
 highway        13224.6250
 dl                 0.6935
 consumption      817.6250
dtype: float64

In [48]:
df_petrol = df_petrol[(df_petrol > lower_bound) & (df_petrol < upper_bound)]

In [54]:
df_petrol_new = df_petrol.dropna()

In [55]:
df_petrol_new.head(10)

    tax   income   highway     dl   consumption
0   9.0     3571    1976.0  0.525         541.0
1   9.0     4092    1250.0  0.572         524.0
2   9.0     3865    1586.0  0.580         561.0
3   7.5     4870    2351.0  0.529         414.0
4   8.0     4399     431.0  0.544         410.0
6   8.0     5319   11868.0  0.451         344.0
7   8.0     5126    2138.0  0.553         467.0
8   8.0     4447    8577.0  0.529         464.0
9   7.0     4512    8507.0  0.552         498.0
10  8.0     4391    5939.0  0.530         580.0

# Question 3 - Independent variables and collinearity 
Which attributes seems to have stronger association with the dependent variable consumption?

### Observing the above correlation values between all the variables, we can see that there is stronger association between the number of drivers and consumption. And comparatively tax has an association in a negative way. 
Insights :
As tax increases the consumption decreases.
As number of drivers is more consumption is more

# Question 4 - Transform the dataset 
Divide the data into feature(X) and target(Y) sets.

# Question 5 - Split data into train, test sets 
Divide the data into training and test sets with 80-20 split using scikit-learn. Print the shapes of training and test feature sets.

# Question 6 - Build Model 
Estimate the coefficients for each input feature. Construct and display a dataframe with coefficients and X.columns as columns

# R-Square

# Question 7 - Evaluate the model 
Calculate the accuracy score for the above model.

# Question 8: Repeat the same Multi linear regression modelling by adding both Income and Highway features
Find R2

# Question 9: Print the coefficients of the multilinear regression model

# Question 10 
In one or two sentences give reasoning on R-Square on the basis of above findings
Answer

### *R squared value increase if we increase the number of independent variables to our analysis